# Dépendances
node_modules/

# Environnement (contient tes clés secrètes, ports, etc.)
.env
.env.local
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma : On ne garde que le schéma
# Le client généré se reconstruit avec 'npx prisma generate'
node_modules/@prisma/client

# Système (Mac/Windows)
.DS_Store
Thumbs.db

# Build/Dist (si tu utilises plus tard un compilateur comme TypeScript)
dist/
build/
/src/generated/prisma
