<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Darts</title>
</head>
<body>

    <main class="app-container">
        <h1>🎯 Jeu de fléchette</h1>
        
        <div class="menu-grid">
            <a href="/setup?mode=solo" class="menu-card">
                <div class="icon">👤</div>
                <div class="info">
                    <h3>Entraînement Solo</h3>
                    <p>Améliorez votre moyenne seul sur la cible.</p>
                </div>
            </a>

            <!-- <a href="/setup?mode=pvp" class="menu-card">
                <div class="icon">👥</div>
                <div class="info">
                    <h3>Joueur vs Joueur</h3>
                    <p>Le mode classique pour défier vos amis.</p>
                </div>
            </a> -->

            <a href="/setup?mode=mp" class="menu-card">
                <div class="icon">👥</div>
                <div class="info">
                    <h3>Multijoueur</h3>
                    <p>Le mode classique pour défier vos amis.</p>
                </div>
            </a>


            <div class="menu-card stats-selector-card">
                <div class="icon">📊</div>
                <div class="info">
                    <h3>Statistiques</h3>
                    <p>Sélectionnez un profil.</p>
                    
                    <div class="selector-wrapper">
                        <select id="player-stats-select" onchange="goToStats(this.value)">
                            <option value="" disabled selected>Choisir un joueur...</option>
                            </select>
                    </div>
                </div>
            </div>

            <div class="menu-card disabled">
                <div class="icon">🤖</div>
                <div class="info">
                    <h3>Contre l'IA</h3>
                    <p>(Bientôt disponible)</p>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/main.js"></script>
</body>
</html>